.fl {
	float: left;
}

.fr {
	float: right;
}

ul,
li {
	list-style: none;
}

.clearfix:after {
	content: "";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
/* 标题 */
.choose{
    width: 100%;
    height: 1.5rem;
    background-color: #1448AE;
    color: white;
    
}
.top{
    height: 1.2rem;
    line-height: 1.2rem;
    position: relative;
}
.choose p{
    text-align: center;
    font-size: 0.5rem;
}
.top span{
    position: absolute;
    left: 0.3rem;
    top: 0;
}


/* 日历插件 */
.date{
    height: 8rem;
}
#container{
    width: 100%;
    height: 7.3rem;
}
/* 选择部分 */
.people{
    padding: 0.3rem;
}
.po{
    height: 1.5rem;
    border-bottom: 1px solid gainsboro;
    margin-top: 0.7rem;
}
.shu{
    width: 40%;
    height: 1rem;
    border: 1px solid gainsboro;
    display: flex;
    flex: 1;
    
}
.shu div{
    width: 33%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
}
.po p span{
    color: rosybrown;
    font-size: 0.4rem;
}
.po p{
    margin-top: 0.2rem;

}
.lest{
    color: gray;
    font-size: 0.3rem;
}
.lest span{
    color: rosybrown;
}
.all{
    height: 1.3rem;
}
.price{
    line-height: 1.3rem;
    color: rosybrown;
    font-size: 0.3rem;
}
.next{
    width: 40%;
    height: 1.3rem;
    background: rosybrown;
}
.next{
    font-size: 0.3rem;
    color: white;
}
.next span{
    font-size: 0.4rem;
    line-height: 1.3rem;
    text-align: center;
}