*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
.fl{
     float: left;
}
.fr{
     float:right
}
.clearfix:after{
	content:"";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;	
}
.nav{
    margin-top: 0.1rem;
    width: 100%;
    height: 0.5rem;
}
.nav-l{
	margin-left: 5%;
	width: 50%;
    display: flex;
    line-height: 0.5rem;
    justify-content: space-between;
    align-items: center;

}
.sec1{
    margin-top: 1rem;
    margin-left: 8%;
    width: 84%;
    height: 0.6rem;
    border-bottom: 1px solid #cccccc;
	font-size: 0.27rem;
}
.pl{
	padding-left: 0.5rem;
}
.sec2{
	margin-top: 0.2rem;
    margin-left: 8%;
    width: 84%;
    height: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}
.sec2 input{
    border:none;
    outline:medium;
} 
.fang{
    width: 1.6rem !important;
	background: #ccc;
	padding: 0.06rem 0.2rem;
	font-size: 0.24rem;
	color: white;
}
.sec3{
	margin-top: 0.2rem;
    margin-left: 8%;
    width: 84%;
    height: 0.6rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cccccc;

}
.sec3 input{
	margin-left: 0.95rem;
	width: 1.95rem;
    border:none;
    outline:medium;
}
.sec4{
	margin-top: 0.2rem;
    margin-left: 8%;
    width: 84%;
    height: 0.6rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cccccc;

}
.sss{
	color: #1448ae;
	font-weight: bold;
}
.sec4 input{
	margin-left: 0.65rem;
	width: 3.7rem;
    border:none;
    outline:medium;
}
.icon-x{
	font-size: 0.24rem !important;
	color: #ccc;
}
.icon-denglu-xiaoyanjing{
	margin-left: 0.1rem;
	font-size: 0.24rem !important;
	color: #ccc;
}
.sec5{
    margin-top: 0.5rem;
    margin-left: 8%;
    width: 84%;
    height: 0.8rem;
    background: #f7c612;
	display: flex;
	justify-content: space-around;
	align-items: center;
    color: white;
}
.dl{
	width: 84%;
	margin-left: 8%;
	display: flex;
	justify-content: flex-end;
	margin-top: 0.4rem;
}
.fang1{
	background: #ccc;
	padding: 0.06rem 0.61rem;
	font-size: 0.24rem;
	color: white;
}
.dl1{
	width: 84%;
	margin-left: 8%;
	display: flex;
	justify-content: flex-end;
	margin-top: 0.15rem;
}
.ffff{
    background: red;
}
.fang2{

	background: #ccc;
	padding: 0.1rem 0.32rem;
	font-size: 0.24rem;
	color: white;
}
.fd{
    position: relative;
}
.zj{
    width: 60%;
    padding: 0 0.2rem;
	position: absolute;
    background: #ccc;
	top: 0.64rem;
    color: red;
    font-size: 0.24rem;
	display: none;
}
.zj1{
    width: 60%;
    padding: 0 0.2rem;
	position: absolute;
    background: #ccc;
	top: 0.64rem;
    color: red;
    font-size: 0.24rem;
	display: none;
}
.zj2{
    width: 60%;
    padding: 0 0.2rem;
	position: absolute;
    background: #ccc;
	top: 0.64rem;
    color: red;
    font-size: 0.24rem;
	display: none;
}