.header{
    width: 100%;
    height: 0.88rem;
    background-color: #1448AE;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
}
.header_left{
    font-size:0.30rem ;
}
.header_center{
    font-size: 0.32rem;
}
.header_right{
    font-size: 0.30rem;
}
.content{
    height: 5.7rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
}
.header_left{
    font-size:0.30rem ;
}
.header_center{
    font-size: 0.32rem;
}
.header_right{
    font-size: 0.30rem;
}
/* .content{
    height: 5.7rem; 
    background-color: #1448AE;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;   
}  */
.header_left{ 
    margin-right: 1rem;
    font-size:0.30rem ;
}
.header_center{
    font-size: 0.32rem;
}
.header_right{
    margin-left: 1rem;
    font-size: 0.30rem;
}
.content{
    /* margin-top: 0.88rem; */
    margin-bottom: 1rem;
}
.content h5{
    margin-left: 0.25rem;
    height: 0.5rem;
    font-size: 0.28rem;
    color: #666666;
    font-weight: bold;
    line-height: 0.5rem;
}
.happy{
    height: 1.8rem;
    display: flex;
}
.happy_icon{
    width: 1rem;
    height: 1.8rem;
    background-color: white;
    display: flex;
    justify-content: center;
}
.happy_icon img{
    width: 0.45rem;
    height: 0.45rem;

}
.happy_wrap{
    width: 6.3rem;
    height: 1.6rem;
    margin-top: 0.1rem;
    background-color: #F4F4F4;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrap_text{
    width: 4.48rem;
    height: 1.5rem;
    line-height: 0.5rem;
    font-size: 0.3rem;
    font-weight: 500;
}
.wrap_text p{
   color: #666;
}
.wrap_img{
    width: 1.3rem;
    height: 1.1rem;
    overflow: hidden;
    border-radius: 0.1rem;
}
.wrap_img img{
    width: 1.3rem;
    height: 1.1rem;
}
.bottom{
    width: 100%;
    height: 1rem;
    background-color: #EDEDED;
    position: fixed;
    left: 0;
    bottom: 0;
    
}
.bottom_box{
    display: flex;
    flex: 1;
}
.bottom a{
   width: 25%;
   display: flex;
   font-size: 0.3rem;
   flex-direction: column;
   align-items: center;
   color: #999999;

}
.bottom a img{
    width: 0.5rem;
    height: 0.5rem;

}