*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
.fl{
     float: left;
}
.fr{
     float:right
}
.clearfix:after{
	content:"";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;	
}
.nav{
    margin-top: 0.1rem;
    width: 100%;
    height: 0.5rem;
}
.nav-l{
    display: flex;
    line-height: 0.5rem;
    justify-content: space-between;
    align-items: center;
}
.nav-l1{
    margin-left: 0.5rem;
}
.nav-r{
    margin-right: 0.5rem;
}
.se{
   color: #1448ae;
}
.icon-x{
    color: #ccc;
    font-size: 0.2rem !important;
}
.icon-denglu-xiaoyanjing{
    font-size: 0.16rem !important;
    color: #ccc;
}
.sec1{
    margin-top: 1rem;
    margin-left: 8%;
    width: 84%;
    height: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}
.sec1 input{
    border:none;
    outline:medium;
}
.sec2{
    margin-top: 0.2rem;
    margin-left: 8%;
    width: 84%;
    height: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}
.sec2 input{
    border:none;
    outline:medium;
    margin-left: 0.4rem;
}
.sec3{
    margin-top: 0.5rem;
    margin-left: 8%;
    width: 84%;
    height: 0.8rem;
    background: #f7c612;
    display: flex;
	justify-content: space-around;
	align-items: center;
    color: white;
}
.sec4{
    margin-top: 0.2rem;
    margin-left: 8%;
    width: 84%;
    display: flex;
    color: #999999;
    justify-content: space-between;
    font-size: 0.24rem;
}
.sec5{
    margin-top: 5rem;
    margin-left: 8%;
    width: 84%;
    display: flex;
    color: #999999;
    justify-content: space-between;
}
.icon-weixin{
    color: #5bbe61;
    font-size: 0.7rem !important;
}
.icon-qq{
    color: #56b1e8;
    font-size: 0.7rem !important;
}
.icon-zhifubao{
    color: #666666;
    font-size: 0.7rem !important;
}
.icon-weibo{
    color: #dd6e67;
    font-size: 0.7rem !important;
}
.icon-baidu{
    color: #5f76d4;
    font-size: 0.7rem !important;
}
.fd{
    position: relative;
}
.zj{
    width: 60%;
    padding: 0 0.2rem;
	position: absolute;
    background: #ccc;
	top: 0.64rem;
	left: 8%;
    color: red;
    font-size: 0.24rem;
    display: none;
}
.zj1{
    width: 60%;
    padding: 0 0.2rem;
	position: absolute;
    background: #ccc;
	top: 0.64rem;
    color: red;
    font-size: 0.24rem;
    display: none;
}