*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
.fl{
     float: left;
}
.fr{
     float:right
}
.clearfix:after{
	content:"";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;	
}
.header{
    width: 100%;
    height: 0.8rem;
    background: darkcyan;
    line-height: 0.8rem;
}
.hea-l{
    margin-left: 0.4rem;
    color: #767676;
}