/* 头部 */
* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 5.2rem;
  overflow: hidden;
}
.header img {
  width: 100%;
}
/* 轮播圆点 */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 8.4rem;
  width: 100%;
  position: absolute;
}
/* 旅游 机票 酒店 */
.box-lv .list {
  display: flex;
  justify-content: space-around;
}
.box-lv .list .item-a img {
  width: 2.16rem;
}
.box-lv .list .item img {
  width: 2.16rem;
}
.box-lv .list .item .ie1 img {
  margin-top: 0.16rem;
}
.box-lv .list p {
  color: #fff;
}
.box-lv .list .item-a {
  position: relative;
}
.box-lv .list .item .ie,
.ie1 {
  position: relative;
}

.box-lv .list .item-a p {
  position: absolute;
  top: 0.24rem;
  left: 0.8rem;
}
.box-lv .list .item .ie p {
  position: absolute;
  top: 0.2rem;
  left: 0.84rem;
}
.box-lv .list .item .ie1 p {
  position: absolute;
  top: 0.36rem;
  left: 0.84rem;
}
/* 特卖汇 */
.temai{
  padding-bottom:1.4rem ;
}
.tm-text {
  padding: 0.2rem 0 0.2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tm-text img {
  padding-left: 0.2rem;
  width: 0.8rem;
}
.tm-text span {
  font-size: 20px;
  color: #2256b2;
}
.temai .list {
  display: flex;
  justify-content: space-evenly;
}
.temai .list .item {
  border: #ccc 0.02rem solid;
}
.temai .list .item p {
  text-align: center;
  font-weight: 600;
}
.temai .list .item img {
  width: 3.42rem;
}
.temai .list .item .item-q {
  margin-top: 0.1rem;
  display: flex;
  justify-content: space-around;
}
.temai .list .item .item-q .item-q1 {
  font-size: 0.27rem;
  color: #ccc;
  margin-left: -0.16rem;
}
.temai .list .item .item-q .item-q2 {
  color: #fe9900;
  font-size: 0.3rem;
}
.temai .list .item .item-q .item-q2 span {
  font-size: 0.2rem;
}
.temai .list .item .item-q .item-q2 i {
  color: #ccc;
  font-size: 0.24rem;
}
/* 底部 */
.foot{
  width: 100%;
  margin-top: 0.2rem;
  background-color: #EEEEEE;
  position: fixed;
  bottom: 0;
}
.foot .foot-ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foot .foot-li .p1{
  color: #1448AE;
}
.foot .foot-li p{
  text-align: center;
  color: #969696;
}
.foot .foot-li .foot-img1{
  background: url('../img/kui-img/首页img/sprites.png') no-repeat -42px -175px;
	width: 54px;
	height: 47px;
  transform: scale(0.6)
}
.foot .foot-li .foot-img2{
	background: url('../img/kui-img/首页img/sprites.png') no-repeat -130px -97px;
	width: 48px;
	height: 49px;
  transform: scale(0.6)
}
.foot .foot-li .foot-img3{
	background: url('../img/kui-img/首页img/sprites.png') no-repeat -210px -99px;
	width: 53px;
	height: 50px;
  transform: scale(0.6)
}
.foot .foot-li .foot-img4{
	background: url('../img/kui-img/首页img/sprites.png') no-repeat -294px -97px;
	width: 50px;
	height: 50px;
  transform: scale(0.6)
}